aiohttp
appdirs
APScheduler
async-timeout
attrs
beautifulsoup4
boto3
botocore
bs4
certifi
chardet
cssselect
docutils
fake-useragent
idna
jmespath
lxml
multidict
parse
pluginbase
pyee
pyppeteer
pyquery
python-dateutil
pytz
PyYAML
requests
s3transfer
six
slackclient
soupsieve
tqdm
tzlocal
w3lib
websockets
yarl
